
html
	font-size: 0.8rem

body
	background-color: #332C33


.wrapper
	background-color: #332C33
	height: 95vh
	width: 95%
	margin: 0 auto
	margin-top: 5vh
	display: flex
	align-items: center
	justify-content: center



.wrap 
	background-color: #332C33
	// background: url('./auto1.jpg')
	height: 85vh
	width: 90%
	margin: 0 auto
	margin-top: 5vh
	display: flex
	align-items: center
	justify-content: center

.content-wrap
	width: 300px
	height: 380px
	background-color: #1F1F1F
	color: white
	overflow: hidden
	position: absolute
	border-radius: 5px

.content
	width: 200%
	height: 100%
	position: relative
	display: grid
	grid-template-columns: 1fr 1fr
	transition: all 0.3s
	left: 0
	

.button
	display: flex
	align-items: center
	justify-content: center


.form
	padding: 5%

.form-control
	&::placeholder
		color: grey

#select
	appearance: none
	background: url(./arrow4.png) no-repeat right 10px center
	background-size: 15px
	color: red

.down
	text-align: center
	margin-top: 5px

.cross-wrap
	position: relative

.cross
	position: absolute
	right: -25px
	top: -15px	

@media (min-width: 480px)
	.wrapper
		background-color: white
	.wrap
		background-color: #110100
	.content-wrap
		width: 400px	

@media (min-width: 1200px)
	.wrap
		// background-color: transparent
		background: url('./auto1.jpg')





